/* AdminHome.css */

.fondo-agregar {
  background-image: url('https://images.pexels.com/photos/958545/pexels-photo-958545.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); /* Reemplaza 'ruta/a/tu/imagen.jpg' con la ruta de tu imagen de fondo */
  height: 100vh;
    width: 100vw;
    display: flex;
    background-size: cover;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
  
}

.admin-container {
  max-width: 800px;
  max-height: 500px;
  overflow: hidden;
  overflow-y: scroll;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2, h3 {
  color: #333;
}

.add-product, .product-list {
  margin-bottom: 20px;
}

.input-field {
  padding: 10px;
  margin-bottom: 10px;
  width: calc(50% - 20px);
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-field:focus {
  outline: none;
  border-color: #007bff;
}

.add-button, .save-button, .edit-button, .delete-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-button {
  background-color: #28a745;
  color: #fff;
}

.save-button {
  background-color: #007bff;
  color: #fff;
}

.edit-button {
  background-color: #ffc107;
  color: #b61212;
}

.delete-button {
  background-color: #dc3545;
  color: #fff;
}

.product-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

  