.FormContainer {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.BackButtonContainer {
  margin-bottom: 20px;
}

.BackButton {
  color: #007bff;
}

.FormGroup {
  margin-bottom: 15px;
}

.FormLabel {
  display: block;
  margin-bottom: 5px;
}

.FormInput,
.FormSelect {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

.FormButton.GuardarUsuarioButton {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #28a745; 
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.FormButton.GuardarUsuarioButton:hover {
  background-color: #218838; 
}

