.ProductoContainer {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.BackButtonContainer {
  margin-bottom: 20px;
}

.BackButton {
  display: inline-block;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 50%;
}

.ArrowIcon {
  font-size: 20px;
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.SelectContainer {
  margin-bottom: 20px;
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.ProductoInfo {
  margin-bottom: 20px;
}

.ProductoDetails {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 4px;
}

.ProductoDetails p {
  margin: 5px 0;
}

.AccionesContainer {
  display: flex;
  justify-content: space-between;
}

.EliminarButton {
  padding: 10px 20px;
  background-color: #ff6347;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.EliminarButton:hover {
  background-color: #e74c3c;
}

